@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #FCFAF8;
  color: #2B2D3D;
}

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
}
